
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Averia+Sans+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

/* GENERAL */
body {
    font-family: "Raleway" , "sans-serif";
    text-align: center;
}

h1 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

/* NAVBAR */
.nav-item {
    display: inline;
    padding: 10px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #000; 
}

.navbar-brand {
    font-family: 'Amatic SC', cursive;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-left: 10px;
}

a:hover {
    text-decoration: none;
    color: #00326e;
}

/* IMAGES */ 
.img-container {
    height: 100vh; 
    padding-bottom: 10px;
}

.img-container img {
    height: 100%;
    width:100%;
    object-fit: cover;
}

/* CHANGING IMAGE  */
#changing-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding-bottom: 10px;
} 

@media screen and (min-width:1024px) {
    #changing-image img {
        height: 360px;
        width: 360px;
    }
}

/* ABOUT */ 
#about {
    padding: 30px 40px 30px 40px;
}

#about p {
    padding: 15px;
}

/* VISIT */ 
#visit {
    padding: 30px 40px 30px 40px;
}

#visit .buttons-container {
    padding: 15px; 
}

.btn {
    margin: 10px;
    border: 1px solid black;
}

/* MAP */
#map {
    height: 360px;
    width: 360px;
}

.map-container {
    padding-top: 30px;
}










